.div {
    text-align: left;
}

.table {
    table-layout: fixed;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid rgba(160, 160, 160, 0.699);
}
th {
    text-align: center;
}

td, th { 
    border: 1px solid rgba(160, 160, 160, 0.699);
    padding: 5px;
}

.tbody tr:nth-child(odd) {
    background-color: rgba(245, 245, 245, 0.8);
}

.fix {
    width: 120px;
    border: 1px solid rgba(160, 160, 160, 0.699);
    text-align: center;
}

td.input {
    width: 200px;
    padding: 10px;
}

td.input:hover {
    background-color: rgba(245, 245, 245, 0.8);
}

input {
    width: 200px;
    border: none;
    background: none;
    padding-left: 12px;

}

input:focus {
    outline: none;
}

.small {
    padding: 3px 5px 3px 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    font-size: smaller;
}

p {
    margin-bottom: 5px;
}